@font-face {
    font-family: 'S-Black';
    src:
        url('../fonts/StyreneB-Black.otf')
        format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-Bold';
    src:
        url('../fonts/StyreneB-Bold.otf')
        format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-Regular';
    src:
        url('../fonts/StyreneB-Regular.otf')
        format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'S-Bold', sans-serif;
}

body {
    font-family: 'S-Regular', sans-serif;
}

p {
    font-size: 1.4rem;
}

.bi-instagram{
    font-size: 1.6rem;
    color: #FFFFFF
}

.navbar {
    background-color: #872D23;
}
