@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@font-face {
    font-family: 'Styrene';
    src: url('../fonts/StyreneB-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Styrene';
    src: url('../fonts/StyreneB-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Styrene';
    src: url('../fonts/StyreneB-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

h1,h4 {
    font-family: 'Styrene', sans-serif;
    font-weight: 700;
}

body {
    font-family: 'Styrene', sans-serif;
    font-weight: 400;
}

p {
    font-size: 1.4rem;
}

.bi:hover {
    color: #FFFFFF;
    opacity: 1.0;
}

.bi {
    font-size: 1.4rem;
    color: #FFFFFF;
    opacity: 0.5;
    height: 32px;
    width: 32px;
}

.navbar {
    font-size: 1.0rem;
    background-color: #872D23;
}

.socials {
    display: grid;
    grid-auto-flow: column;
    width: 96px;
}

.qr-card {
    border: none;
}

.qr-button {
    width: 100%;
}

.qr-card-body {
    text-align: center;
}

.qr-accordion {
    padding-top: 20px;
}